html {
  scroll-behavior: smooth;
}
#title-page {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
ul {
    background-color: blanchedalmond;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul li{
    float: left;
}
ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: rgb(150, 138, 119);
}
ul li a:visited {
    color: black;
}
#golshi {
    height: 618px;
    width: 700px;
    border-radius: 20px;
    margin: 0 auto 0 auto;
    display: block;
}
.bio-intro {
    margin: 30px 100px 30px 100px;
    padding: 40px 50px 50px 50px;
    border-radius: 30px 30px 30px 30px;
    background-color: blanchedalmond;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}
.bio-intro p {
    margin-bottom: 1em;
}
html, body { 
    height: 100%; margin: 0; 
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(13, 0, 33);
}
#back-top{
    display: block;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    margin: auto;
    background-color: beige;
    color: black;
    text-decoration: none;
}
#back-top:hover{
    background-color: antiquewhite;
}
a:visited {
    color: white;
}
footer {
  margin: 30px 0 0 0;
  padding: 20px;
  background-color: rgb(27, 25, 31);
  text-align: center;
}
.social-media{
    height: 30px;
    margin: 0 10px 0 10px;

}
